[submodule "deps/safe-interactive-crowdnav"]
	path = deps/safe-interactive-crowdnav
	url = https://github.com/sepsamavi/safe-interactive-crowdnav.git
[submodule "deps/Python-RVO2"]
	path = deps/Python-RVO2
	url = https://github.com/sybrenstuvel/Python-RVO2.git
